.nav-button {
  display: none;
}

.container-list {
  display: flex;
  width: 20%;
  align-items: center;
  text-align: center;
}

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
}

.input-style {
  width: 80%;
  height: 40px;
  max-width: 340px;
  margin: 0 auto;
  display: block;
}

.image-style {
  min-width: 180px;
}

.container-card {
  text-align: center;
  margin-top: 30px;
  width: 90%;
  min-width: 190px;
  position: relative;
}

.img-card {
  margin-left: 15px;
}
