@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202124;
  --mw-documn: 1200px;
  --text-color: #E4D7C5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  min-height: 100vh;
  color: var(--text-color);
}

.u-center {
  min-width: 320px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  display: inline;

}


/* style of Characters Cards */

.container-card {
  row-gap: 2px;
  width: 80%;
  margin: 0 auto;
  min-width: 170px;
  position: relative;
  margin: 0 auto;
}

.image-style{
  min-width: 150px;
  max-width: 150px;
  margin-right: 5px;
}

/* button menunav styles */

.nav-button {
  display: none;
}

/* input styles */

.input-style {
  width: 70%;
  height: 30px;
  min-width: 250px;
  margin: 4 auto;
  max-width: 200px;
  
}

.input-style::placeholder {
  text-align: center;
  
}

@media screen and (max-width: 480px) {
  .nav-button{
    display: flex;
  }

  .container-list{
    width: 100%;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .container-list.isActive {
    display: flex;
  }

  /* .image-style{
    max-width: 150px;
  } */
  
}

@media screen and (min-width:768px) {
  .input-style {
    margin-left: 13rem;
  }

  /* .image-style{
    min-width: 150px;
  } */
}

