@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202124;
  --text-color: #e4d7c5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  min-height: 100vh;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.u-center {
  min-width: 320px;
  padding: 9px;
  flex-wrap: wrap;
  margin-bottom: 6.5rem;
}

.container-list {
  position: fixed;
  margin-top: 7rem;
  width: 100%;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
}

.nav-logo {
  font-size: 1.5rem;
  color: var(--text-color);
}

.container-list.isActive {
  display: flex;
}

.container-card {
  margin-top: 30px;
  width: 80%;
  min-width: 170px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.image-style {
  width: 90%;
  max-width: 180px;
  margin: 0 auto;
  min-width: 170px;
}

.nav-button {
  display: flex;
}

.input-style {
  width: 80%;
  height: 38px;
  min-width: 245px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.info-container {
  margin-top: 60px;
}

.card-favorite {
  margin-left: 20px;
}

@media screen and (min-width: 600px) {
  .u-center {
    margin-bottom: 6rem;
  }
  .nav-button {
    display: none;
  }

  .container-list {
    display: flex;
    width: 19%;
    position: relative;
    margin-top: 0.5rem;
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
  }

  .nav-logo {
    margin-left: 12px;
    font-size: 1.7rem;
  }

  .input-style {
    height: 40px;
    max-width: 340px;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }

  .image-style {
    min-width: 200px;
  }

  .container-card {
    width: 90%;
    min-width: 190px;
  }

  .img-card {
    margin-left: 20px;
  }
}

@media screen and (min-width: 900px) {
  .u-center {
    padding: 12px;
  }

  .nav-logo {
    margin-left: 32px;
    font-size: 1.9rem;
  }

  .container-list {
    width: 15%;
    min-width: 145px;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .input-style {
    width: 80%;
    height: 42px;
    max-width: 360px;
    font-size: 1.8rem;
    margin-bottom: 8rem;
  }

  .image-style {
    min-width: 240px;
  }

  .container-card {
    margin-top: 30px;
    width: 90%;
    min-width: 190px;
  }

  .img-card {
    margin-left: 40px;
  }
}
